/* css reset */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#dashboardContainer{
    display: flex;
    flex-direction: row;
}

div.sidebar{
    width: 37vh;
    background: #323232;
    
}

div.contentContainer{
    width: 100%;
    background-color: #d1d1d1;
}

h3.dashboardLogo{
    color: #f685a1;
    font-size: 5.5vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebarMenu{
    padding: 0;
}

div.sidebarUser img{
    width: 6em;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #f685a1;
    margin-right: 5px;
}

div.sidebarUser{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

div.sidebarUser span{
    top: 20%;
    font-size: 1.1em;
    text-transform: uppercase;
    color: white;
    display: inline-block;
}


ul.menuLists{
    text-align: left;
    padding: 0;
    margin: 0;
}

.fa-solid{
    padding: 5px;
}

ul.menuLists li{
    margin: 0;
    padding: 10px 5px;
    font-size: 14px;
    list-style: none;
    text-align: left;
    border: 2px solid transparent;
    text-transform: uppercase;
}


ul.menuLists li a{
text-decoration: none;
color: white;
height: 100%;
display: block;
}


ul.menuLists li:active{
    background-color: #f685a1;
    color: white;
}

ul.menuLists li:hover{
    border: 2px solid #f685a1;
    background: transparent;
    transition: 0.2s all;
}

div.topNav{
    background: #fff;
    padding: 10px;
}

div.topNav a{
    color: #838383;
    font-size: 18px;
    text-decoration: none;
}

a#logoutBtn{
    float: right;
}

div.content{
    padding: 50px 15px 15px 15px;
}

div.contentMain{
    background: white;
    height: 100%;
    min-height: 800px;
}





@media (max-width: 1200px) {
    #homepageBodyID {
        zoom: 0.75; /* Apply the zoom for smaller screens */
    }
    div.sidebar{
        width: 34vh;
        
    }
    
    h3.dashboardLogo{
        color: #f685a1;
        font-size: 5vh;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    ul.menuLists li{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    #homepageBodyID {
        zoom: 0.75; /* Apply the zoom for very small screens */
    }
    div.sidebar{
        width:30vh;
        
    }
    h3.dashboardLogo{
        color: #f685a1;
        font-size: 4vh;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    div.sidebarUser img{
        width: 5em;
    }

    div.sidebarUser span{
        font-size: 0.8em;
    }
    ul.menuLists li{
        font-size: 10px;
    }
}
