/* css reset */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}


html{
    background: url("https://placehold.co/1500x1000") no-repeat center center fixed;
    background-size: co;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}


#loginBodyID{
    
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    zoom: 0.75; /* Shrink the page content to 75% both vertically and horizontally */
}

.loginHeader{
    text-align: center;
    margin-bottom: 60px;
}

.loginHeader h1{
    font-size: 100px;
    color: #f685a2;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginHeader p{
    color: #f45079;
    font-size: 45px;
    margin: 0px;
    display: inline-block;
    text-transform: uppercase;
}

.loginHeader p:after{
    content: '';
    display: block;
    height: 5px;
    background: #f685a2;
    margin: 0 auto;
}

.loginBody form{
    margin: 0 auto;
    width:  450px;
    background: rgba(0,0,0,0.5);
    padding: 50px;
    border: 2px solid #fff;
    border-radius: 8px;
}

.loginInputsContainer{
    margin-top: 30px;
}

.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.loginInputsContainer input{
    height: 30px;
    width: 100%;
    border: 2px solid #d40339;
    font-size: 20px;
    padding: 5px;
    text-align:  center;
    font-style: italic;
    color: grey
}

.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}

.loginButtonContainer button{
    font-size: 20px;
    padding: 10px 40px;
    background: #f685a2;
    border: none;
    color: #fff;
}











.header{
    width:100%;
    height: 20px;
    background: #f685a1;
}

.banner{
    background:url("https://placehold.co/1200x630") no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.homepageContainer{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.bannerHeader h1{
    font-size: 100px;
    color: #f685a1;
    line-height:  100%;

}

.bannerHeader p{
    font-size: 40px;
    color: #f685a1;
    text-transform:  uppercase;
    line-height:  100%;
}

.bannerTagLine{
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
}

.bannerIcons{
    font-size: 25px;
    margin-top: 150px;
    margin-left: 40px;
    padding: 7px 15px;
    background: rgb(0,0,0,0.5);
    color:#868485;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;    
}

.bannerIcons a:first-child{
    margin-left: 0px;
}

.bannerIcons a:hover{
    color: #fff;
    font-size:25px;
    background: .5s all;
}

.homepageFeatures{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}

.feature{
    padding: 10px 20px;
    text-align: center;
}

.feature span.featureIcons{
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 50px;
    background: #f685a1;
    color: #fff;
    padding-left: 18px;
    padding-top: 5px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.feature h3.featureTitle{
    margin-bottom: 20px;
}

.feature p.featureDescription{
    color: #848484;
}


@media (max-width: 1200px) {
    #homepageBodyID {
        zoom: 0.75; /* Apply the zoom for smaller screens */
    }
}

@media (max-width: 768px) {
    #homepageBodyID {
        zoom: 0.75; /* Apply the zoom for very small screens */
    }
}
